.signd-map-menu-item{
    padding: 20px;
    
}

.signd-map-menu-item.selected{
    background-color: #fff;
    border: 1px solid rgb(75, 86, 98);
}

#menu{
    width: 100%;
    display: flex;
    margin-bottom: -5px;
    color: rgb(75, 86, 98);
}

@media (max-width: 600px) {
    #menu{
      flex-direction: column;
    }
}

#signd-map-content{
    border: 1px solid rgb(75, 86, 98);
}

#signd-map-content img{
    max-width: 100%;
    width: 100%;
}


#signd-map{
    max-width: 100%;
    width: 100%;
}